body {background-color: brown;}
div.a {text-align: center;}
p {font-style: oblique;}
p {background-color: antiquewhite;}
p {font-size: 80%;}
ul {font-size: 150%;}
h1 {font-size: large;}
ol {background-color: blue;}
form {width: 100px; height: 200px; border: 1px; margin-left: auto ; margin-right: auto; background-color: red;}